body {
    overflow: hidden;
}

#controls {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #87cefa;
}

#top-bar {
    margin: 5px;
    margin-bottom: 10px;
}

/* 1vw is 1% viewport width. Seems counter-intuitive. */
.bg {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0vh;
    left: 0vw;
    width: 100vw;
}

.page {
    height: 100vh;
}

#summon_controls {
    display: block;
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 25vh;
    width: 100vw;
    opacity: 25%;
}

.page_flip {
    display: block;
    position: absolute;
    top: 25vh;
    height: 75vh;
    width: 50vw;
    opacity: 25%;
}

#flip_left {
    left: 0vw;
}

#flip_right {
    left: 50vw;
}

#carousel {
    width: 100vw;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#carousel a {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-right: 5px;
    height: 200px;
}

a.selected {
    border-color: #FF7700;
    border-width: 3px;
    border-style: solid;
}

.thumbnail {
    height: 200px;
}

#spacing {
    width: 100px;
}

.button {
    float: right;
    color: #000000;
    margin-left: 10px;
}

.icon {
    width: 25px;
    height: 25px;
}

svg {
    visibility: hidden;
    color: #000000;
}

.button svg {
    visibility: inherit;
}

.button svg:hover {
    color: #FFDD00;
}

.button svg:active {
    color: #DDBB00;
}

label {
    margin-right: 20px;
}

#help_pane {
    position: absolute;
    visibility: hidden;
    background-color: #CCCCDD;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#hot_spots { 
    visibility: inherit;
    margin-right: 5px;
}

#instructions {
    width: 400px;
}

.title {
    display: inline;
    font-weight: bold;
    font-size: 14pt;
}